.footer {
    background-color: #051C34 !important;
    padding-left: 5rem;
    padding-right: 5rem;
        @media(max-width: 768px) {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
        } 
}
ul li a {
    margin:0 !important;
    padding:0 !important;
}

.footer_title{
    font-size: 2rem;
        @media(max-width: 768px) {
            font-size: 0.75rem;
        }    
}