.testimonials_sec {
    background-image: url("../../assets/imges/landing-page/sec-6/bg-sec6.png");
    background-repeat: no-repeat;
    background-position: right;
    // background-size:cover;
    background-origin: border-box;
    margin-top: 5rem;
    // .testimonial_container{
    //     box-shadow: .5rem 1rem rgba(0, 0, 0, .15);

    // }
}